.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--color-surface-0);
  border-radius: var(--corner-corner-l);
}

.header {
  padding: var(--spacing-x2);
  border-bottom: 1px solid var(--color-border-default);
  flex-shrink: 0;
  background: var(--color-surface-1);
}

.content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-x1);
}