.container {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  background-color: var(--mantine-color-gray-0);
  border-bottom: 1px solid var(--mantine-color-gray-2);
  min-height: 40px;
  display: flex;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);
  }
}
