@import "./reset.css";
@import "./tokens.css";
@import "./variables.css";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--mantine-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

code {
  font-family: var(--font-mono);
}

#root {
  display: flex;
  flex-direction: column;
}
